In [2]:
import pandas as pd

In [69]:
oo = pd.read_csv('olympics.csv', skiprows=4)
list(oo)

['City',
 'Edition',
 'Sport',
 'Discipline',
 'Athlete',
 'NOC',
 'Gender',
 'Event',
 'Event_gender',
 'Medal']

In [76]:
jo =oo[oo.Athlete == 'OWENS, Jesse']
jo.Event.value_counts()

100m            1
200m            1
4x100m relay    1
long jump       1
Name: Event, dtype: int64

In [82]:
gbm = oo[(oo.Medal == 'Gold') & (oo.Gender == 'Men') & (oo.Sport == 'Badminton')]
gbm.sort_values(by='Athlete')

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
20045,Barcelona,1992,Badminton,Badminton,"BUDI KUSUMA, Alan",INA,Men,singles,M,Gold
23701,Sydney,2000,Badminton,Badminton,"GUNAWAN, Tony",INA,Men,doubles,M,Gold
25718,Athens,2004,Badminton,Badminton,"HA, Tae-Kwon",KOR,Men,doubles,M,Gold
25734,Athens,2004,Badminton,Badminton,"HIDAYAT, Taufik",INA,Men,singles,M,Gold
21787,Atlanta,1996,Badminton,Badminton,"HOYER-LARSEN, Poul Erik",DEN,Men,singles,M,Gold
23717,Sydney,2000,Badminton,Badminton,"JI, Xinpeng",CHN,Men,singles,M,Gold
27725,Beijing,2008,Badminton,Badminton,"KIDO, Markis",INA,Men,doubles,M,Gold
25719,Athens,2004,Badminton,Badminton,"KIM, Dong Moon",KOR,Men,doubles,M,Gold
21773,Atlanta,1996,Badminton,Badminton,"KIM, Dong Moon",KOR,Men,doubles,X,Gold
20031,Barcelona,1992,Badminton,Badminton,"KIM, Moon-Soo",KOR,Men,doubles,M,Gold
27727,Beijing,2008,Badminton,Badminton,"LEE, Yongdae",KOR,Men,doubles,X,Gold
27741,Beijing,2008,Badminton,Badminton,"LIN, Dan",CHN,Men,singles,M,Gold
21771,Atlanta,1996,Badminton,Badminton,"MAINAKY, Rexy Ronald",INA,Men,doubles,M,Gold
20032,Barcelona,1992,Badminton,Badminton,"PARK, Joo-Bong",KOR,Men,doubles,M,Gold
27726,Beijing,2008,Badminton,Badminton,"SETIAWAN, Hendra",INA,Men,doubles,M,Gold
21772,Atlanta,1996,Badminton,Badminton,"SUBAGJA, Ricky Achmad",INA,Men,doubles,M,Gold
23702,Sydney,2000,Badminton,Badminton,"WIJAYA, Candra",INA,Men,doubles,M,Gold
25720,Athens,2004,Badminton,Badminton,"ZHANG, Jun",CHN,Men,doubles,X,Gold
23703,Sydney,2000,Badminton,Badminton,"ZHANG, Jun",CHN,Men,doubles,X,Gold

In [84]:
rec = oo[oo.Edition >= 1984]
rec.NOC.value_counts()

USA    1837
AUS     762
GER     691
CHN     679
RUS     638
       ...
TGA       1
MKD       1
PAN       1
BDI       1
BAR       1
Name: NOC, Length: 124, dtype: int64

In [86]:
gm100 = oo[(oo.Gender == 'Men') & (oo.Medal == 'Gold') & (oo.Event == '100m')]
gm100.sort_values('Edition', ascending=False)[['City', 'Edition', 'Athlete', 'NOC']]

                        City  Edition                Athlete  NOC
27552                Beijing     2008            BOLT, Usain  JAM
25539                 Athens     2004         GATLIN, Justin  USA
23521                 Sydney     2000        GREENE, Maurice  USA
21598                Atlanta     1996        BAILEY, Donovan  CAN
19859              Barcelona     1992      CHRISTIE, Linford  GBR
18284                  Seoul     1988            LEWIS, Carl  USA
16794            Los Angeles     1984            LEWIS, Carl  USA
15374                 Moscow     1980           WELLS, Allan  GBR
14069               Montreal     1976       CRAWFORD, Hasely  TRI
12902                 Munich     1972         BORZOV, Valery  URS
11865                 Mexico     1968       HINES, James Ray  USA
10823                  Tokyo     1964          HAYES, Robert  USA
9924                    Rome     1960            HARY, Armin  EUA
9009   Melbourne / Stockholm     1956  MORROW, Robert Joseph  USA
8121                Helsinki     1952        REMIGINO, Lindy  USA
7302                  London     1948      DILLARD, Harrison  USA
6427                  Berlin     1936           OWENS, Jesse  USA
5806             Los Angeles     1932           TOLAN, Eddie  USA
5095               Amsterdam     1928        WILLIAMS, Percy  CAN
4236                   Paris     1924       ABRAHAMS, Harold  GBR
2996                 Antwerp     1920       PADDOCK, Charles  USA
2022               Stockholm     1912           CRAIG, Ralph  USA
1191                  London     1908       WALKER, Reginald  RSA
737                 St Louis     1904           HAHN, Archie  USA
231                    Paris     1900        JARVIS, Francis  USA
13                    Athens     1896          BURKE, Thomas  USA

0        HUN
1        AUT
2        GRE
3        GRE
4        GRE
        ...
29211    GER
29212    LTU
29213    ARM
29214    CUB
29215    RUS
Name: NOC, Length: 29216, dtype: object

pandas.core.series.Series

       Edition     City               Athlete   Medal
0         1896   Athens         HAJOS, Alfred    Gold
1         1896   Athens      HERSCHMANN, Otto  Silver
2         1896   Athens     DRIVAS, Dimitrios  Bronze
3         1896   Athens    MALOKINIS, Ioannis    Gold
4         1896   Athens    CHASAPIS, Spiridon  Silver
...        ...      ...                   ...     ...
29211     2008  Beijing        ENGLICH, Mirko  Silver
29212     2008  Beijing  MIZGAITIS, Mindaugas  Bronze
29213     2008  Beijing       PATRIKEEV, Yuri  Bronze
29214     2008  Beijing         LOPEZ, Mijain    Gold
29215     2008  Beijing        BAROEV, Khasan  Silver

[29216 rows x 4 columns]

pandas.core.frame.DataFrame

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
417,Paris,1900,Golf,Golf,"ABBOTT, Margaret Ives",USA,Women,individual,W,Gold
641,Paris,1900,Tennis,Tennis,"COOPER, Charlotte",GBR,Women,mixed doubles,X,Gold
649,Paris,1900,Tennis,Tennis,"COOPER, Charlotte",GBR,Women,singles,W,Gold
710,St Louis,1904,Archery,Archery,"HOWELL, Matilda Scott",USA,Women,double columbia round (50y - 40y - 30y),W,Gold
713,St Louis,1904,Archery,Archery,"HOWELL, Matilda Scott",USA,Women,double national round (60y - 50y),W,Gold
...,...,...,...,...,...,...,...,...,...,...
29134,Beijing,2008,Weightlifting,Weightlifting,"CAO, Lei",CHN,Women,75kg,W,Gold
29147,Beijing,2008,Wrestling,Wrestling Free.,"HUYNH, Carol",CAN,Women,- 48kg,W,Gold
29155,Beijing,2008,Wrestling,Wrestling Free.,"YOSHIDA, Saori",JPN,Women,48 - 55kg,W,Gold
29163,Beijing,2008,Wrestling,Wrestling Free.,"ICHO, Kaori",JPN,Women,55 - 63kg,W,Gold
29171,Beijing,2008,Wrestling,Wrestling Free.,"WANG, Jiao",CHN,Women,63 - 72kg,W,Gold

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
673,St Louis,1904,Aquatics,Swimming,"LEARY, J. Scott",USA,Men,100m freestyle,M,Bronze
702,St Louis,1904,Aquatics,Swimming,"LEARY, J. Scott",USA,Men,50y freestyle (45.72m),M,Silver
710,St Louis,1904,Archery,Archery,"HOWELL, Matilda Scott",USA,Women,double columbia round (50y - 40y - 30y),W,Gold
713,St Louis,1904,Archery,Archery,"HOWELL, Matilda Scott",USA,Women,double national round (60y - 50y),W,Gold
730,St Louis,1904,Archery,Archery,"HOWELL, Matilda Scott",USA,Women,teams FITA round,W,Gold
875,St Louis,1904,Fencing,Fencing,"O'CONNOR, William Scott",USA,Men,"stick, single",M,Silver
1513,London,1908,Hockey,Hockey,"FREEMAN, Harry Scott",GBR,Men,hockey,M,Gold
14234,Montreal,1976,Basketball,Basketball,"MAY, Scott Glenn",USA,Men,basketball,M,Gold
14863,Montreal,1976,Rowing,Rowing,"CLARK, Richard James Scott",GBR,Men,eight with coxswain (8+),M,Silver
16941,Los Angeles,1984,Athletics,Athletics,"TULLY, Michael Scott",USA,Men,pole vault,M,Silver
17390,Los Angeles,1984,Gymnastics,Artistic G.,"JOHNSON, Scott Philip",USA,Men,team competition,M,Gold
17825,Los Angeles,1984,Sailing,Sailing,"STEELE, Randal Scott",USA,Men,board (windglider),M,Silver
17844,Los Angeles,1984,Sailing,Sailing,"ANDERSON, John Scott",AUS,Men,Tornado - Multihull,X,Bronze
17904,Los Angeles,1984,Volleyball,Volleyball,"DVORAK, Douglas Scott",USA,Men,volleyball,M,Gold
18004,Los Angeles,1984,Wrestling,Wrestling Free.,"LEWIS, Randall Scott",USA,Men,57 - 62kg (featherweight),M,Gold
18246,Seoul,1988,Aquatics,Water polo,"EVANS, Michael Scott",USA,Men,water polo,M,Silver
19449,Seoul,1988,Volleyball,Volleyball,"FORTUNE, Scott Thomas",USA,Men,volleyball,M,Gold
19599,Barcelona,1992,Aquatics,Diving,"DONIE, Scott R.",USA,Men,10m platform,M,Silver
19755,Barcelona,1992,Aquatics,Swimming,"JAFFE, Scott",USA,Men,4x200m freestyle relay,M,Bronze
20132,Barcelona,1992,Basketball,Basketball,"PIPPEN, Scottie",USA,Men,basketball,M,Gold
20306,Barcelona,1992,Canoe / Kayak,Canoe / Kayak S,"STRAUSBAUGH, Scott",USA,Men,C-2 (canoe double),M,Gold
21144,Barcelona,1992,Volleyball,Volleyball,"FORTUNE, Scott Thomas",USA,Men,volleyball,M,Bronze
21328,Atlanta,1996,Aquatics,Swimming,"MILLER, Scott",AUS,Men,100m butterfly,M,Silver
21353,Atlanta,1996,Aquatics,Swimming,"GOODMAN, Scott",AUS,Men,200m butterfly,M,Bronze
21393,Atlanta,1996,Aquatics,Swimming,"TUCKER, Scott",USA,Men,4x100m freestyle relay,M,Gold
21418,Atlanta,1996,Aquatics,Swimming,"MILLER, Scott",AUS,Men,4x100m medley relay,M,Bronze
21872,Atlanta,1996,Basketball,Basketball,"PIPPEN, Scottie",USA,Men,basketball,M,Gold
23281,Sydney,2000,Aquatics,Swimming,"TUCKER, Scott",USA,Men,4x100m freestyle relay,M,Silver
23352,Sydney,2000,Aquatics,Swimming,"GOLDBLATT, Scott",USA,Men,4x200m freestyle relay,M,Silver
24028,Sydney,2000,Cycling,Cycling Track,"MCGRORY, Scott",AUS,Men,Madison,M,Gold
25357,Athens,2004,Aquatics,Swimming,"GOLDBLATT, Scott",USA,Men,4x200m freestyle relay,M,Gold
28653,Beijing,2008,Rowing,Rowing,"FRANDSEN, Scott",CAN,Men,coxless pair (2-),M,Silver
28656,Beijing,2008,Rowing,Rowing,"BRENNAN, Scott",AUS,Men,double sculls (2x),M,Gold
29051,Beijing,2008,Volleyball,Volleyball,"TOUZINSKY, Scott",USA,Men,volleyball,M,Gold